* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  

/* Header Styling */
.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    padding: 1rem
}

#headerBtn {
    padding: 2rem;
    border: 1px solid black;
}

#headerBtn:hover {
    cursor: pointer;
}



.cardDiv {
    display: flex;

}


.bookCard {
    border: 1px solid black;
    padding: 1rem;

}

.bookCard:hover {
    cursor: pointer;
}

/* .editContainer {
    height: 5vh;
    width: 20vw;
} */

/* #selectedBookForm {
    display: flex;
    flex-wrap: wrap;
} */