* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gentium Book Plus', serif;
    background-color: #46705a;
    outline: none
  }
  


.btn {
    color: whitesmoke; 
    background-color: #1C4782;
    border: none;
    padding: .2rem;
    cursor: pointer;
    transition: .5s ease;
}


.btn:hover {
    background-color: #299466;
    
}





/* Header Styling */

#title {
    color: #2C4CA0;
    background-color: #caced8;
}

#titleItalic {
    background-color: #caced8;
    color: #299466;
}


.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background-color: #caced8
}

#title {
    padding: 1rem;
    font-size: 3rem;
}

#headerBtn {
    border: 1px solid black;
    margin-right: 2rem;
    width: 9rem;
    height: 3rem;
    font-size: large;
}

#headerBtn:hover {
    cursor: pointer;
    
}











/*Form Styling */
.formText {
    border: none;
    resize: none;
    width: 90%;
    overflow: visible;
    padding: 1rem;
    text-align: center;
    font-size: medium;
    max-width: 100%;
    background-color: #caced8;
    border-radius: 25px;
}

.editContainer {
    display: flex;
    flex-wrap: wrap;
    width: 19rem;
    animation: fadeIn 1s;
    padding: 1rem;
    resize: none;
    background-color: rgb(216, 216, 216);
    border-radius: 25px;
    box-shadow: .75rem .5rem #333;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

#selectedBookForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(216, 216, 216);
}

label {
    padding: .25rem;
    padding-bottom: 1rem;
    font-size: larger;
    background-color: rgb(216, 216, 216);
}


#deleteBtn, 
#editSubmitBtn {
    width: 4rem;
}










/* Card Styling */
.cardDiv {
    display: flex;
    padding: 4rem;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 3rem;
    row-gap: 5rem;
}


.bookCard {
    /* border: 1px solid black; */
    padding: 1rem;
    width: 19rem;
    height: 32rem;
    border-radius: 8%;
    box-shadow: .75rem .5rem #333;
    background-color: rgb(216, 216, 216);
    animation: fadeIn 1s;
}

@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

.bookCard:hover {
    cursor: pointer;
}


#pDiv {
    height: 10rem;
    background-color: #caced8;
    overflow: auto;
    border: 1px solid #333;
    border-radius: 25px;
}


p,
h2, 
h3 {
    background-color: rgb(216, 216, 216);
    text-align: center;
    padding: 1rem;
    color: black
}


#desc {
    font-size: large;
    background-color: #caced8;
    height: 100%;
}


.bookTitle,
.bookItalic {
    background-color: rgb(216, 216, 216);
    text-align: center;
    color: black
}


.pages {
    font-size: larger;
}



/* Addition Form Styling */

#addForm {
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    animation: fadeIn 1s;
    padding: 2rem;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    box-shadow: .75rem .5rem #333;
    border-radius: 25px;
}


.addDiv {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}


#addSubmitBtn {
    width: 5rem;
    height: 2rem;
    margin-top: 2rem;
}


.addLabel {
    font-size: x-large;
}


